<div>
    <p>Latitiude is {{latitude}}</p>
    <p>Longitude is {{longitude}}</p>
    <p>Coordinate is {{coordinate}}</p>
    <p>Accuracy is {{accuracy}}</p>
    <p>Altitude is {{altitude}}</p>
    <p>AltitudeAccuracy is {{latitudeaccuracy}}</p>
    <p>Heading is {{heading}}</p>
    <p>Speed is {{speed}}</p>
</div>
